.generic-banner {
    font-family: "Poppins", sans-serif;
    line-height: 1.625em;
    display: block;
    position: relative;
    margin-top: 60px;
    background-color: #3898f8;
    text-align: center;

}

.generic-banner h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 300px;
}

.generic-banner p {
    margin-bottom: 300px;
}

.sample-text-area {
    text-align: left;
}

.button-area {
    display: block;
    background: #fff;
    text-align: left;
    color: #777777;
}

.border-top-generic {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
    padding: 70px 15px;
    border-top: 1px dotted #eee;


}

.text-heading {
    color: #222222;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 24px;
}

.button-group-area {
    line-height: 50px;
    margin-bottom: 30px;
    color: #777777;

}

.default {
    color: black;
    font-size: 20px;
    background-color: #f9f9ff;
    border-radius: 30px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.default:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

.genric-btn {
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.primary {
    color: white;
    font-size: 20px;
    background-color: #3f98f2;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.primary:hover {
    text-decoration: none;
    color: #3f98f2;
    background-color: white;
    border: 1px solid #3f98f2;
}

.success {
    color: white;
    font-size: 20px;
    background-color: #4cd3e3;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.success:hover {
    text-decoration: none;
    color: #4cd3e3;
    background-color: white;
    border: 1px solid#4cd3e3;
}

.info {
    color: white;
    font-size: 20px;
    background-color: #38a4ff;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.info:hover {
    text-decoration: none;
    color: #4cd3e3;
    background-color: white;
    border: 1px solid#4cd3e3;
}

.warning {
    color: white;
    font-size: 20px;
    background-color: #f4e700;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.warning:hover {
    text-decoration: none;
    color: #f4e700;
    background-color: white;
    border: 1px solid#f4e700;
}

.danger {
    color: white;
    font-size: 20px;
    background-color: #f44a40;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.danger:hover {
    text-decoration: none;
    color: #f44a40;
    background-color: white;
    border: 1px solid#f44a40;
}

.link {
    text-decoration: underline;
    color: black;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.link:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
}

.disable {
    cursor: not-allowed;
    text-decoration: none;
    color: blue;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.disable:hover {
    text-decoration: none;
    color: blue;
    background-color: white;
    border: 1px solid white;
}

.default-border {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.default-border:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid white;
}

.default-border {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.default-border:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid white;
}

.primary-border {
    color: #3f98f2;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid #3f98f2;
}

.primary-border:hover {
    text-decoration: none;
    color: white;
    background-color: #3f98f2;
    border: 1px solid white;
}

.success-border {
    color: #4cd3e3;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid #4cd3e3;
}

.success-border:hover {
    text-decoration: none;
    color: white;
    background-color: #4cd3e3;
    border: 1px solid#4cd3e3;
}

.info-border {
    color: #4cd3e3;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid #4cd3e3;
}

.info-border:hover {
    text-decoration: none;
    color: white;
    background-color: #4cd3e3;
    border: 1px solid#4cd3e3;
}

.warning-border {
    color: #f4e700;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid #f4e700;
}

.warning-border:hover {
    text-decoration: none;
    color: white;
    background-color: #f4e700;
    border: 1px solid#f4e700;
}

.danger-border {
    color: #f44a40;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid #f44a40;
}

.danger-border:hover {
    text-decoration: none;
    color: white;
    background-color: #f44a40;
    border: 1px solid#f44a40;
}

.link-border {
    text-decoration: underline;
    color: black;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.link-border:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
}

.disable-border {
    cursor: not-allowed;
    text-decoration: underline;
    color: black;
    font-size: 20px;
    background-color: white;
    border-radius: 0px;
    width: 65px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid white;
}

.disable-border:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
}

.radius {
    border-radius: 5px;
}

.circle {
    border-radius: 20px;
}

.section-gap {
    margin-top: 50px;
}

.whole-wrap {
    text-align: left;
    color: #777777;
    background-color: #fff;
}

.section-top-border {
    padding: 70px 0;
    border-top: 1px dotted #eee;
}

.section-top-border h3 {
    color: black;
    margin-bottom: 30px;
}

.img-fluid {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
    text-align: left;
    color: #777777;
}

.matn {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 75%;
    max-width: 75%;
    text-align: left;
    color: #777777;
}

.section-top-border h4 {
    color: black;
    margin-bottom: 10px;
}

.generic-blockquote {
    margin: 0 0 1rem;
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #3898f8;
}

.progress-table-wrap {
    text-align: left;
    color: #777777;
    overflow-x: scroll;
}

.progress-table {
    text-align: left;
    color: #777777;
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 800px;

}

.table-head {
    display: flex;
    color: #777777;
}

.serial {
    width: 11.83%;
    padding-left: 30px;
    color: #222222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;

}

.country {
    width: 28.07%;
    color: #222222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;


}

.visit {
    width: 19.74%;
    color: #222222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;

}

.percentage {
    width: 40.36%;
    padding-right: 50px;
    color: #222222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;

}

.table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex;
    text-align: left;
    color: #777777;
}

.progress {
    text-align: left;
    color: #777777;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    width: 80%;
    border-radius: 0px;
    background: transparent;

}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    transition: width 0.6s ease;
    height: 5px;
    line-height: 5px;
    background-color: #6382e6;
    width: 80%;
    aria-valuenow: 80%;
    aria-valuemin: 0;
    aria-valuemax: 100%;
}

.color-2 {
    width: 30%;
    background-color: #e66686;
}

.color-3 {
    width: 55%;
    background-color: #f09359;
}

.color-4 {
    width: 60%;
    background-color: #73fbaf;
}

.color-5 {
    width: 40%;
    background-color: #73fbaf;
}

.color-6 {
    width: 70%;
    background-color: #6382e6;
}

.color-7 {
    width: 30%;
    background-color:
        #a367e7;
}

.color-8 {
    width: 60%;
    background-color: #e66686;
}

.gallery-item {
    text-align: left;
    color: #777777;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.img-pop-up {
    color: #007bff;
    background-color: transparent;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    outline: 0;

}

.single-gallery-image-1 {
    margin-top: 30px;
    background: url(../images/element/g1.jpg.webp)no-repeat center top;
    background-size: cover;
    height: 200px;
}

.single-gallery-image-2 {
    margin-top: 30px;
    background: url(../images/element/g2.jpg.webp)no-repeat center top;
    background-size: cover;
    height: 200px;
}

.single-gallery-image-3 {
    margin-top: 30px;
    background: url(../images/element/g3.jpg.webp)no-repeat center top;
    background-size: cover;
    height: 200px;
}

.single-gallery-image-4 {
    margin-top: 30px;
    background: url(../images/element/g4.jpg.webp)no-repeat center top;
    background-size: cover;
    height: 200px;
}

.single-gallery-image-5 {
    margin-top: 30px;
    background: url(../images/element/g5.jpg.webp)no-repeat center top;
    background-size: cover;
    height: 200px;
}

.single-gallery-image-6 {
    margin-top: 30px;
    background: url(../images/element/g6.jpg.webp)no-repeat center top;
    background-size: cover;
    height: 200px;
}

.single-gallery-image-7 {
    margin-top: 30px;
    background: url(../images/element/g7.jpg.webp)no-repeat center top;
    background-size: cover;
    height: 200px;
}

.single-gallery-image-8 {
    margin-top: 30px;
    background: url(../images/element/g8.jpg.webp)no-repeat center top;
    background-size: cover;
    height: 200px;

}

.section-top-borders {
    padding: 70px 0;
    border-top: 1px dotted #eee;
}

.typography {
    text-align: left;
    color: #777777;
    font-weight: 600;
    font-size: 36px;
}

.image-gallery-two {
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}

.unordered-list {
    margin: 0;
    padding: 0;
    list-style: circle;
}

.unordered-list li {
    color: #007bff;
    list-style-type: circle;
}

.unordered-list li p {
    color: #777777;
}

.ordered-list {
    text-align: left;
    color: #777777;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #3898f8;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list li span {
    color: #777777;
}


.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #3898f8;
}

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #3898f8;

}

.single-input {
    overflow: visible;
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.form-last {
    margin-top: 20px;
}

.input-group-icon {
    text-align: left;
    color: #777777;
    margin-top: 10px;
    position: relative;
}

.icon {
    color: #777777;
    text-align: left;
    position: absolute;
    left: 5px;
    top: 0;
    line-height: 40px;
    z-index: 3;
}

.icon i {
    display: inline-block;
    color: #797979;
    text-align: left;
}

.single-element-widget {
    text-align: left;
    color: #777777;

}



.toggle {
    width: 50px;
    height: 25px;
    background-color: dodgerblue;
    margin: 50px auto;
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
}

#test {
    display: none;
}

.toggle::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(5%, -50%);
    transition: 0.5s;
    border-radius: 30px;
}

#test:checked~.toggle::after {
    left: 100%;
    transform: translate(-105%, -50%);
}

.toggle-1 {
    width: 50px;
    height: 25px;
    background-color: rgb(4, 46, 88);
    margin: 50px auto;
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
}

#test-1 {
    display: none;
}

.toggle-1::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(5%, -50%);
    transition: 0.5s;
    border-radius: 30px;
}

#test-1:checked~.toggle-1::after {
    left: 100%;
    transform: translate(-105%, -50%);
}

.toggle-2 {
    width: 50px;
    height: 25px;
    background-color: greenyellow;
    margin: 50px auto;
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
}

#test-2 {
    display: none;
}

.toggle-2::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(5%, -50%);
    transition: 0.5s;
    border-radius: 30px;
}

#test-2:checked~.toggle-2::after {
    left: 100%;
    transform: translate(-105%, -50%);
}








footer {
    text-align: left;
    background-color: #222222;
    color: #777777;
    width: 100%;
    padding-top: 100px;
    display: block;
    padding: 120px 0;
}



.single-footer-widget {
    color: #fff;
    /* margin-bottom: 30px; */
    font-size: 20px;
}


.footer-nav li {
    text-align: left;
    color: white;
    list-style: none;
}

.footer-nav a {
    margin-top: 8px;
    color: #fff;
    text-decoration: none;
}

.nw-btn {
    background-color: #3898f8;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-top: 20px;
}

.mail-chimp {

    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
    margin-bottom: 30px;
    text-align: left;

}

.instafeed {
    list-style: none;
    line-height: 1.625em;
}

.footer-social {
    color: white;
    background-color: #333;
    padding: 20px;
    margin: 5px;
}